
<!DOCTYPE html>
    <html lang="en">
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Kiganda Ivan">
    <link rel="icon" href="../images/mak4-logo.jpg" sizes="32x32">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/font-awesome/css/font-awesome.css">
    <title>Department Of Agribusiness and Natural Resource Economics(DANRE) | Makerere University</title>
    <style>
        body{
            /* background-image:url('./images/must3.jpg'); */
            /* background-size: cover; */
            /* background-repeat:no-repeat; */
            
        }
        ul.nav li a,ul.nav li a:hover{
            color:white;
            padding: 10px;
        }
        ul.dropdown-menu li a{
            color:black;
            /* color:rgba(10,240,70,1); */
         }
         header{font-family:lucida;}
         header a,header a:hover{color:black;}
        div.dropdown-menu a.dropdown-item{
            color:black;
        }
        ul.dropdown-menu a.dropdown-item:hover{
            color:black;
        }
    </style>
</head>
<body>
            <header class="white-header" style="padding-top:10px;">

                <div class="container-fluid">
                    <div class="row" >
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="navbar-brand">
                                <a href="#"><img  src="../images/mak4-logo.jpg" width="160px" height="100px" alt="MAKERERE LOGO" /></a>
                            </div>
                        </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <span style="font-family:lucida console;font-size:33px;color:green;font-weight:bold;">MAKERERE UNIVERSITY </span><br>
                                <span style="font-family:lucida console;font-size:19px;font-weight:bold;">DEPARTMENT OF AGRIBUSINESS AND NATURAL RESOURCE ECONOMICS (DANRE)  </span>
                                                                <address style="text-align:left;width:70%">
                                <p>
                                    Makerere University
                                    P.O.BOX 7062, Kampala.
                                    Telephone: 0414531152  
                                    Fax : 0414531641</p></address>
                             
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <style type="text/css">
                                    input{
                                        border-color: green;
                                    }
                                </style>
                                    <form action="search-results.html" method="post">
                                <div class="input-group top-search-box-container">
                                    <input type="text" class="form-control top-search-box" name="search-term" id="search-term" placeholder="Search" required>
                                    <span class="input-group-btn">
                                        <input type ="submit" class="btn" value="Search"> <i class="fa fa-search" aria-hidden="true"></i>
                                    </span>
                                </div>

                            </form>

                            </div>


                </div>
            </header>
            
            
  

            <div class="container-fluid">
<div class="col-lg-12 col-md-12">
<div class="navbar navbar-expand-md bg-success navbar-dark">
<div class="navbar-header">
<button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
<span class="navbar-toggler-icon"></span>
</button>
</div>

<div class="container">
<div class="col-lg-12 col-md-12">

<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li ><a href="../index.html">Home</a></li>
<li class="active">
<a href="aboutus.html"> About</a>
</li>
<li class="active">
<a href="research.html">Research</span></a>
</li>
<li>
<a href="aboutus.html#admissions">Admissions</a>
</li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" href="#">Curriculum <span class="caret"></span></a>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="course1.html">BSc.Agriculture</a></li>
<li><a class="dropdown-item" href="course2.html">Bachelor of Agribusiness Management</a></li>
<li><a class="dropdown-item" href="course3.html">Masters in Agribusiness Management</a></li>
<li><a class="dropdown-item" href="course4.html">MSc. Agricultural and Applied Economics</a></li>
<li><a class="dropdown-item" href="course5.html">PhD Agricultural Economics</a></li>


</ul>
</li>
<li><a href="news.html">News &amp;Events</a></li>

<li><a href="profile.html">Faculty&Staff</a></li>

<li><a href="contactus.php">Contact</a></li>

</ul>
</div>


</div>

</div>



</div>
</div>
</div>

</div>

</ul>
</div>


</div>

</div>



</div>
</div>

</div>  

</div> 
 <div class="container margin-t-90 padding-b-30">
        <h4 class="font-light">
                        Research in Agriculture
                    </h4>
         <p>
            DANRE's academic staff frequently conduct research and consultancies in several areas
            based on their interests. The main areas of research currently include :
        </p>
            <ol>
                <li>Production Economics</li>
                <li>Marketing Agricultural Policy issues</li>
                <li>Gender issues in Agriculture</li>
                <li>Issues in Environmental Economics</li>
                <li>Waste Management</li>
                <li>Adoption Studies</li>
            </ol>
         <p>Papers from these studies are normally published in several internationally peer reviewed
            journals including the flagship juornal of the Department -The Eastern African Journal 
            of Rural Development.
         </p>
                </div>

            </div>

            <div class="row">
    
                    <div class="col-md-6 offset-2">

                            
                            <img class="img-responsive" 
                                    src="../images/a.jpg" alt="research-image" style="width: 70%;" />
                     </div>
                        <div class="col-md-4 ">
                          <h5>Mak Adds Thermal Imaging, 3D Printing to Fight Against COVID-19</h5>
                            <p>Makerere University under the Department of Agricultural and Bio-Systems Engineering (DABE), College of Agricultural and Environmental Sciences (CAES) on Friday 28th August 2020 unveiled three new additions to help control the spread of COVID-19 in public spaces. The Thermal Imaging for detection of COVID-19 as well as Three-Dimensional (3D) printing of biodegradable face shields and components for the Bulamu Ventilator are all aimed at boosting the contribution of local content to the fight against the pandemic.</p>
                        </div>
                    </div>
                
                    <div class="row">
    
        <div class="col-md-6 offset-2">

                
                <img class="img-responsive" 
                        src="../images/get.jpg" alt="research-image" style="width: 70%;" />
         </div>
            <div class="col-md-4">
              <h5>Empowering Research and Innovation </h5>
                <p>The Principal Investigator of the project and Chair, DABE Prof. Noble Banadda while welcoming participants to the unveiling acknowledged the support of Makerere University Health Services led by Prof. Josaphat Byamugisha and the University of Liverpool in helping to develop the Thermal Imaging component.

“Although the hardware already exists in the public domain, our academic contribution has been the use of Artificial Intelligence (AI) and Machine Language (ML) to develop an algorithm that can; unlike the temperature gun, take readings from four places – the throat, mouth, nose and forehead and come up an average temperature” he remarked.</p>
            </div>
        </div>
        <div class="row">
    
        <div class="col-md-6 offset-2">
                <img class="img-responsive" 
                        src="../images/get1.jpg" alt="research-image"  style="width: 70%;"/>
         </div>
            <div class="col-md-4">
              <h5>Makerere University unveils top tech to overcome COVID 19 </h5>
                <p>Prof. Banadda shared that over 7,000 images obtained with the help of the University Hospital were used to train the algorithm which can enable the Thermal Imaging to detect people with flu-like symptoms unlike the temperature gun. He noted that researchers at the Massachusetts Institute of Technology (MIT) and partners had trained an algorithm that can identify COVID-19 from a cough and this would be integrated into the Thermal Imaging setup in the future.</p>
            </div>
        </div>
       
            <style>
                h4{color:green;}
                a,a:hover{color:white;}
            </style>
            <footer  style="background-color:hsla(200,3%,7%,1); color:white;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-xs-6 col-sm-4">
                        <h4>Contact Us</h4>
                        <address>
                        Makerere University <br>
                                    P.O.BOX 7062, Kampala. <br>
                                    Telephone: 0414531152  <br>
                                    Fax : 0414531641
                    </address>
                            
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-4 white-text">
                        <h4>Academics &amp; Research</h4>
                        <a href="#">Admission Information</a><br>
                        <a href="#">Curriculum</a><br>
                        <a href="#"> Prospective Graduate Students</a>
                        <a href="#">Research Groups &amp; Centers </a>
                        <a href="#">Research Projects </a>
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-4 white-text">
                        <h4>People</h4>
                        <a href="#">Administrative Staff</a><br>
                        <a href="#">Faculty</a><br>
                         <a href="#">Staff</a><br>
             <a href="#">Students</a><br>
                        <a href="#" target="_blank">Almuni</a>
                        
                       
                    </div>
                    <div class="col-md-3 col-xs-6 col-sm-4 white-text">
                        <h4>OTHER USEFUL LINKS</h4>
                        <a href="#" target="_blank">Timetables</a><br>
                        <a href="#" target="_blank">E-Learning Environment</a><br>
                        <a href="#" target="_blank">Webmail</a><br>
            <a href="https://caes.mak.ac.ug" target="_blank">College Website</a><br>
             <a href="https://courses.mak.ac.ug/courses" target="_blank">Courses</a>
            
                    </div>
                    <div class="col-md-12 col-xs-12 col-sm-8 white-text text-right margin-t-30 margin-b-30">
                        <p>&copy; 2020 - Department Of Agriculture-Makerere University </p>
                    </div>
                </div>

            </div>
        </footer>
        <script src="../assets/js/jquery.min.js"></script>
        <script src="../assets/jquery/jquery-3.1.0.min.js"></script>
        <script src="../assets/js/modernizr.js"></script>
        <script src="../assets/js/bootstrap.min.js"></script>
        <script src="../assets/js/bootstrap.js"></script>

    </body>
    </html>